<form>
<!-- <div>
  <label for="name">Username</label>
  <input name="name" type="text" formControlName="name">
</div>
<div>
  <label for="pass">Password</label>
  <input name="pass" type="text" formControlName="password">
</div>
<div>
  <label for="nick">Nickname</label>
  <input name="nick" type="text" formControlName="nickname">
</div> -->
<div>
  <label for="email">Email</label>
  <input name="email" type="text" [formControl]="email">
</div>
<button type="button" (click)="login()">Login</button>
</form>
<!-- <button [disabled]="isNotificationGranted()" (click)="requestPermission()">Request Notification</button> -->
